<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<plugin id="sv.dita.pdf2-nio-user-manual">
    <require plugin="org.dita.pdf2.fop"/>
    <feature extension="dita.conductor.transtype.check" value="pdf2-nio-user-manual"/>
    <feature extension="dita.transtype.print" value="pdf2-nio-user-manual"/>
    <feature extension="dita.conductor.target.relative" file="integrator.xml"/>
    <feature extension="dita.conductor.pdf2.param" file="params.xml"/>
    <feature extension="dita.xsl.xslfo" file="cfg/fo/attrs/toc-attr.xsl"/>
    <feature extension="dita.xsl.xslfo" file="cfg/fo/attrs/base-attr.xsl"/>
    <feature extension="dita.xsl.xslfo" file="cfg/fo/xsl/page-image.xsl"/>
    <feature extension="dita.xsl.xslfo" file="cfg/fo/xsl/page-cover.xsl"/>
    <feature extension="dita.xsl.xslfo" file="cfg/fo/xsl/page-toc.xsl"/>
    <feature extension="dita.xsl.xslfo" file="cfg/fo/xsl/page-setting.xsl"/>
    <feature extension="dita.xsl.xslfo" file="cfg/fo/xsl/page-header.xsl"/>
    <feature extension="dita.xsl.xslfo" file="cfg/fo/xsl/page-footer.xsl"/>
</plugin>