<?xml version="1.0" encoding="UTF-8"?>
<plugin id="sv.dita.pdf2-nio-user-manual">
    <require plugin="org.dita.pdf2"/>
    <feature extension="dita.conductor.transtype.check" value="pdf2-nio-user-manual"/>
    <feature extension="dita.transtype.print" value="pdf2-nio-user-manual"/>
    <feature extension="dita.conductor.target.relative" file="integrator.xml"/>
    <!-- Configure the artwork directory -->
    <feature extension="dita.conductor.pdf2.param" file="params.xml"/>
    <feature extension="dita.xsl.xslfo" file="cfg/fo/xsl/watermark.xsl"/>
    <!-- Register the custom attribute sets -->
    <!-- <feature extension="dita.xsl.xslfo" file="cfg/fo/attrs/custom.xsl"/> -->
    <!-- Register font configuration -->
    <feature extension="dita.xsl.xslfo" file="cfg/fo/attrs/custom-font-set.xsl"/>
</plugin>